<ion-view view-title='Photo Editor'>

  <ion-content>
    <!-- <div class="photoeditor">
        <h1>Creative SDK Image Editor</h1>
        <div class="row">
          <a class="button button-energized up creativesdkbutton" ng-click="launchEditor()">Edit Image</a>
          <a class="button button-energized up creativesdkbutton" ng-click="takePicture()">Take Picture</a>
       </div>
       <img id="target-image" src="img/grafitti.jpeg" style="width:100%">
    </div> -->

    <div class="row">
      <a class="col card text-center p20" href="#" ng-click="launchEditor()">
        <img src="img/picturesFolder.png" style="max-width:70px;"></img>
        <h4 class="fw300 font-md">Select a picture from your phone</h4>
        <!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
      </a>
    </div>
    <div class="row">
      <a class="col card text-center p20" href="#" ng-click="takePicture()">
        <img src="img/camera.png" style="max-width:70px;"></img>
        <h4 class="fw300 font-md">Take a new picture</h4>
        <!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
      </a>
    </div>
  </ion-content>
</ion-view
